<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	xmlns:p="http://www.springframework.org/schema/p">

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="dataSource" p:driverClassName="com.mysql.jdbc.Driver"
		p:url="jdbc:mysql://localhost/rminds" p:username="root"
		p:password="password">
	</bean>

	<bean class="org.springframework.jdbc.core.JdbcTemplate"
		name="jdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean class="com.basics.SpringJDBCProject.UserDaoImpl" name="userDao">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>

</beans>